.mainContainer{
    height: 120vh;
    width: 100%;
    background-color: skyblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.cards{
    height: 350px;
    width: 250px;
    border: 2px solid red;
    display: flex;
    flex-direction: column    ;
    align-items: center;
    justify-content: space-around;
}
.cards p{
    text-align: center;
}
.cards img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}